.backgroundInput {
  background-color: #fff;
  border-radius: 3px;
  height: 40px;
  display: flex;
  align-items: center;
  transition: all ease-in-out 0.2s;
}

.backgroundInput > i {
  color: var(--primaryColor);
  margin: 0px 11px;
  font-size: 13px;
}

.inputText:focus ~ .floatinglabel,
.inputText:not(:focus):valid ~ .floatinglabel {
  font-size: 9px;
  padding: 0px 0px 23px 0px;
  opacity: 1;
}

.inputText:focus,
.inputText:not(:focus):valid {
  margin-top: 10px;
}

.inputText {
  color: var(--primaryColor);
  border: 0 none;
  transition: ease-in-out all 0.2s;
  width: 100%;
}

.floatinglabel {
  position: absolute;
  pointer-events: none;
  transition: 0.2s ease all;
  color: var(--primaryColor);
  margin-left: 35px;
}

.buttonLogin:hover,
.backgroundInput:focus-within,
.backgroundInput:focus-within .inputText,
.backgroundInput:hover,
.backgroundInput:hover .inputText {
  background-color: var(--backgroundSecondaryColor) !important;
}
