.container {
  height: 100vh;
  align-items: center;
}

.textIntroduction {
  color: #fff;
  text-align: left;
  font-size: 65px;
  width: 490px;
}

.loginForm {
  width: 380px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 50px 0px;
  border-radius: 5px;
}

.title {
  margin-bottom: 40px;
  color: var(--secondaryColor);
  font-size: 30px;
}

.contraste {
  background-color: rgba(255, 255, 255, 1);
  color: var(--secondaryColor);
  width: 354px;
}

.section {
  width: 100%;
  margin: 20px auto;
  text-align: center;
  float: right;
}

.span {
  display: block;
  color: blue;
  font-style: italic;
  margin-left: 20px;
}

.p {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: blue;
  margin: 2px 5px;
  display: inline-flex;
}

.register {
  transition: all 200ms ease-in-out;
}

.register:hover {
  transform: scale(1.1);
  color: var(--secondaryColor);
}
