.header {
  font-family: var(--primaryFont);
  background-color: var(--primaryBackgroundColor);
  display: flex;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  align-items: center;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
  top: 0;
  position: fixed;
  background-color: #fff;
  z-index: 1;
}

.skillus {
  background: -webkit-linear-gradient(#f77f5c, #882d52);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo {
  cursor: pointer;
  margin: 5px 50px 0px 20px;
  display: flex;
  align-items: baseline;
  font-weight: bold;
  font-size: 30px;
}

.logo > img {
  height: 30px;
  width: 30px;
}

.links {
  display: flex;
  justify-content: space-between;
  color: var(--primaryColor);
  font-size: var(--fontTitleSize);
}

.navItem {
  margin: 0px 18px 0px 0px;
  display: flex;
  align-items: center;
  height: 50px;
  transition: all var(--transition);
}

.backgoundItem:hover .navItem {
  color: var(--secondaryColor);
  height: 45px;
}

.loginOptions p {
  font-size: 15px;
  display: flex;
  margin: 0px 20px 0px 0px;
  cursor: pointer;
}

.loginOptions p:first-child {
  margin: 0px 10px 0px 0px;
  display: flex;
  align-items: center;
  color: var(--secondaryColor);
}

.user > div {
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: 13px;
}

.userImg {
  margin: 0px 18px 0px 9px;
  height: 33px;
  width: 33px;
  border-radius: 33px;
  cursor: pointer;
}

.logout {
  color: var(--primaryColor);
  font-size: 11px;
  cursor: pointer;
}

.bottom {
  background-color: var(--backgroundSecondaryColor);
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 97vw;
  padding: 0.5vw 1.5vw;
}

.bottom > div {
  display: flex;
  align-items: center;
}

.bottom > div > a {
  transition: all 200ms ease-in-out;
  margin-left: 1vw;
}

.bottom > div > p {
  margin-left: 1.5vw;
}

@media only screen and (max-width: 1024px) {
  .links {
  }
}
