.containerImage {
    width: 100%;
    text-align: center;
    color: #fff;
    left: 0;
    padding-top: 50px;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.backgroundImage {
    width: 100%;
    height: 100%;
    filter: brightness(50%);
}

.textIntroduction {
    position: absolute;
    width: 70vw;
    font-size: 7vw;
    margin: 0;
}

.contraste {
    background-color: rgba(247, 127, 92, 0.8);
    color: #fff;
    padding: 0px 10px;
}

.start {
    font-size: 30px;
    cursor: pointer;
    transition: ease-in-out all 200ms;
}

.start:hover {
    font-size: 31px;
}