.search {
    border-radius: 50px;
    margin: 10px
}

.search:hover, .search:hover input  { background-color: var(--backgroundSecondaryColor);}

.search > i, .search > input { margin: 3px 15px 3px 15px }
.search > input { width: 96% }
.search > i { font-size: 20px }

