.container {
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.registerForm {
  width: 380px;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 50px 50px;
  border-radius: 5px;
}

.title {
  margin-bottom: 40px;
  color: var(--secondaryColor);
  font-size: 30px;
  width: 400px;
}

.login {
  margin-top: 25px;
  color: var(--secondaryColor);
}

.steps {
  margin: 0px 10px;
  font-size: 20px;
  color: var(--secondaryColor);
  transition: 200ms all ease-in-out;
  cursor: pointer;
}

.registerButton:hover {
  transform: scale(1.05);
}
.registerButton {
  transition: all ease-in-out 200ms;
  background-color: var(--secondaryColor);
  border-radius: var(--radius);
  border: 0;
  font-size: 14px;
  padding: 7px 12px;
  color: #fff;
  cursor: pointer;
}
